body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto-tengah {
    max-width: 80%;
    max-height: 80vh;
    object-fit: contain;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    border-radius: 10px;
}