* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #6495ED;
  font-family: Georgia, 'Times New Roman', serif;
  color: #000;
}

/* ================= NAVBAR ================= */

header {
  border-bottom: 1px solid #000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 64px;
}

.logo {
  font-weight: bold;
  font-size: 24px;
}

.nav-menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 24px;
}

.nav-menu a.btn {
  color: #fff;
}

.nav-menu a.btn:hover {
  color: #fff;
}

.nav-menu a {
  display: inline-block; 
  text-decoration: none;
  color: #000;
  font-size: 14px;
  transition: transform 0.25s ease, color 0.25s ease;
}

.nav-menu a:hover {
  color: #ffffff;
  transform: scale(1.15);
}


.btn {
  display: inline-block;
  background-color: #000;
  color: #fff;
  padding: 8px 16px;
  border-radius: 20px;
  transition: transform 0.25s ease, background-color 0.25s ease;
}

.btn:hover {
  background-color: #222;
  transform: scale(1.12);
}

/* ================= HERO ================= */

.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 64px;
  min-height: 93vh;
  overflow: hidden;
}


.hero-text {
  max-width: 520px;
  z-index: 1;
}

.hero::after {
  content: "";
  position: absolute;
  top: -20%;
  right: -30%;
  width: 1500px;
  height: 1200px;
  background-color: #dff2f0;
  border-radius: 100%;
  z-index: 0;
}

.hero-text h1 {
  font-size: 96px;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 18px;
  margin-bottom: 24px;
}

.hero-btn {
  display: inline-block;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  padding: 12px 28px;
  border-radius: 24px;
  font-size: 16px;
  transition: transform 0.25s ease, background-color 0.25s ease;
}

.hero-btn:hover {
  background-color: #222;
  transform: scale(1.15);
}

/* gambar di kanan */
.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  padding-right: 20px;
}